extends ./layout

block content
    input(type="hidden", name="sala",id="sala",value=nombreSala)
    input(type="hidden", name="usuario",id="usuario",value=user.userName)
    .container-fluid.mt-5
        .container-fluid.ms-5
            h2= "sala de " + nombreSala
        .container-fluid.d-flex.justify-content-evenly.flex-wrap 
            #menuChat 
                .card#textoChat 
                    .card-body#chatText
                        each mensaje, index in mensajes 
                            - let isUser = user.userName == mensaje.author;
                            - let fecha = mensaje.create_at.toLocaleDateString() + " " + mensaje.create_at.toLocaleTimeString();
                            if isUser
                                div.textUser 
                                    p= mensaje.author +  " [" + fecha +  "] " + mensaje.mensaje
                            else 
                                div.textOtro
                                    p= mensaje.author + " [" + fecha +  "] " + mensaje.mensaje
                .mt-3.row
                    .col-sm-10
                        input.form-control.divInputTexto(type="text", name="mensaje", id="mensaje", placeholder="escribe tu mensaje aqui")
                    .col-auto
                        input.btn.btn-primary(type="button", value="enviar", id="botonChat")
            #usuarios.card 
                .card-body
    script(src="/socket.io/socket.io.js") 
    script(src="/js/chat.js")  

                